$green-color: #719f3d;
$orange-color: #ee5e00;
$overlay-green-color: rgb(113, 159, 61, 0.9);
$transition: .5s;
$why-us-imgs: "best.jpg", "solutions.jpg", "teamwork.jpg";
$icons: (
    "facebook": #1877f2,
    "instagram": #e1306c,
    "youtube": #ff0000
);